@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
* {
  font-family: "SimHei", "Hei", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

li, a, button {
  font-size: 14px;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  padding-top: 20px;
  margin-left: 20px;
  text-align: center;
}

#medtnerdex {
  display: inline-block;
}

header h1 {
  vertical-align: top;
  /* so we can move the image down using margin-top without moving the h1 down */
  display: inline-block;
  font-family: "Tangerine", cursive;
  font-size: 60px;
}

header img {
  margin-top: -5px;
  margin-left: 20px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.date {
  display: flex;
  margin-left: 20px;
}

.genre-inner-btn {
  width: 100%;
}

.sliderAndBtn {
  margin-left: 20px;
}

#date-slider {
  margin: 0 auto;
  max-width: 250px;
}

#date-slider .ui-sliper-pip {
  font-size: 1em;
}

#date-slider .ui-slider-handle .ui-slider-tip {
  font-size: 0.75em;
  width: 42px;
  margin-left: -22px;
  height: 33px;
  line-height: 30px;
  top: -40px;
  background: #434d5a;
  border-color: #434d5a;
  color: white;
}

#date-slider .ui-slider-handle .ui-slider-tip:before,
#date-slider .ui-slider-handle .ui-slider-tip:after {
  border-top-color: #434d5a;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: 0 !important;
}

.ui-accordion .ui-accordion-header {
  font-size: 1em !important;
}

.ui-accordion .ui-accordion-content {
  padding-left: 10px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  font-weight: bold !important;
  width: 100%;
  height: 55px;
  justify-content: center;
}

h4 {
  font-size: 12px !important;
}

.logo {
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.genre-btn {
  transition: all 0.3s ease;
  background-color: #e2e1e1;
  padding: 10px;
  cursor: pointer;
}

.genre-btn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -moz-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.buttons {
  text-align: center;
}

/* to prevent menu from pushing down nearby content */
.button-set {
  background-color: white;
  z-index: 2;
  width: 120px;
  position: absolute;
}

button {
  transition: all 0.3s ease;
  background-color: #e4e4e4;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -moz-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.button-set {
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 850ms 0ms;
}

.hidden {
  overflow: hidden;
  /* Hide the element content, while height = 0 */
  height: 0;
  opacity: 0;
  transition: height 0ms 850ms, opacity 850ms 0ms;
}

#current-date {
  margin: 30px auto;
}

.music-wrapper {
  z-index: 99;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.music-wrapper > div {
  margin-left: 20px;
}

.music-wrapper button {
  margin: 5px 5px 0 0;
}

.music-wrapper h1 {
  font-size: 17px;
  display: inline-block;
}

#all-music {
  margin: 20px;
}

/* catalogue */
#total-found {
  margin-left: 20px;
  margin-bottom: 20px;
}

.list-compositions {
  margin-bottom: 50px;
  /* use flexbox to make all the boxes the same height */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* to cover the entire section */
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
  color: black;
  /* to cover the entire section */
}

.piece {
  height: 50%;
  width: 100%;
  padding: auto;
}
.piece__container {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  --n:5.5;
  /*4 visible items */
  --g:10px;
  display: grid;
  --auto-grid-min-size: 24rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.piece__content {
  width: 100%;
  background: #ffffff;
  border: 1px solid black;
  margin: 0;
  padding: 12px;
}
.piece .piece__op {
  font-size: 0.7em;
  font-weight: bold;
}
.piece .piece__title {
  text-decoration: underline;
  font-size: 0.7em;
}
.piece .piece__instrumentation {
  font-size: 0.7em;
  font-weight: bold;
}
.piece .piece__year {
  font-size: 0.7em;
  font-style: italic;
}
.piece .piece__duration {
  font-size: 0.7em;
  margin-bottom: 10px;
}
.piece .piece__movements {
  margin-top: 2px;
  font-size: 0.75em;
}

@media all and (max-width: 800px) {
  .button-set {
    background-color: white;
    z-index: 2;
    width: 100px;
  }

  .music-wrapper h1 {
    font-size: 12px;
  }

  .piece__container {
    --n:2.1;
    /*2 visible items */
    --g:5px;
  }
}
@media all and (max-width: 400px) {
  .piece__container {
    --n:1.2;
    /*1 visible item */
  }
}
@media only screen and (max-width: 300px) {
  /* For super small phones: */
  #medtnerdex h1 {
    font-size: 3em;
  }

  #medtnerdex img {
    width: 20%;
  }

  .music-wrapper {
    margin: 15px;
  }

  .music-wrapper h1 {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
